
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.contenedor-product {
 display: flex;
 flex-direction: row;
 justify-content: space-around;


}

/*TARJETA PRODUCTO*/
.tarjeta-producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ffccdd;  
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 30px;
  max-width: 1200px;
  margin-top: 30px;
  text-align: center;
}

.tarjeta-producto h3 {
  font-size: 18px;
  margin-top: 10px;
}

.tarjeta-producto img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.tarjeta-producto p {
  margin-top: 5px;
  font-size: 14px;
}
