.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.contenedor-product{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

/* TARJETA PRODUCTO */
.tarjeta-producto {
  flex: 0 0 calc(33.33% - 20px); 
  margin-bottom: 20px; 
  border: 1px solid #ffccdd;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  box-sizing: border-box; 
  width: 250px; 
  height: 250px; 
}

.tarjeta-producto h3 {
  font-size: 18px;
  margin-top: 10px;
}

.imagen img {
  width: 400px;
  height: 400px;
  margin-top: 10px;
  margin-right: 20px;
}

.tarjeta-producto p {
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 14px;
}

.tarjeta-producto button {
  margin-top: 10px; 
  padding: 5px 10px; 
  font-size: 14px; 
  height: auto; 
}

.tarjeta-producto img{
  width: 150px;
  height: 150px;
}

.tarjeta-producto{
  display: flex;
  flex-direction: column;
  justify-content: center; 
}

