.detalle-producto {
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid #ffccdd;
}

.detalle-producto .imagen img {
  width: 500px;
  height: 500px;
  border-radius: 5px;
}

.detalle-producto .detalles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detalle-producto .detalles p {
  margin: 10px 0;
}

.detalle-producto .detalles button {
  background-color: #fa8fb1;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  width: 200px;
  height: 30px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgb(128, 0, 73);
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detalle-producto .detalles button:hover {
  background-color: #fc6998;
}

.precio-destacado {
  color: #ff0080;
  font-size: 30px;
  font-weight: bold;
}

.precio p {
  color: #000000;
  font-size: 25px;
  font-weight: bold;
}

.boton-volver {
  text-align: center;
  margin-top: 20px;
}

.boton-volver a {
  text-decoration: none;
  color: #000000;
}
